*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1.33em 0;  
}


li{ 
    font-family: 'Roboto';
    font-size: 15px;
    display:inline;
    float: inline-end;
}

li a {
    display: block;
    padding: 8px;
    background-color: #e3dada;
}

.logo{
width: 268px;
height: 33px;
}

.parent{
    display:flex;
    flex-direction:column;
    align-items:center;



}
.lead__logo {
    display: block;
    margin: 0 auto;
}
.p1{
    display: grid;
    grid-template-columns:50% 50% ;
    grid gap: 20px;
}
.p1 p{
    line-height: 1,8;

}
.parent h1{
    color: #00b39b;
    font-weight: 100;
}
.parent2{
   display: grid; 
   grid-template-columns:repeat(3,1fr) ;
   grid gap: 25px;

}
.patients{
background-color:#00ccb1 ;
}
.doctors{
background-color: #3d83df;
}
.clinics{
background-color: #1b2734;
}